<!DOCTYPE html>
<html>
  <link rel="shortcut icon" type="image/ico" href="yugo.ico">
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
  </head>


  <body>
    <nav>
<ul>
<img src="/yugo.png"  alt="logo" />
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:yugoslaviamrk@gmail.com">Email</a></li>
   <li><a href="https://github.com/yugoslavia36">My GitHub</a></li>
   <li><a href="http://www.infinideas.org/">Infinideas</a></li>
   <li><a href="https://www.luogu.org/space/show?uid=35345">My Luogu Account</a></li>
   </ul>
  </footer>
  </body>

</html>
