<!DOCTYPE html>
<html>
  
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="shortcut icon" type="image/ico" href="../../../../../yugo.ico">
  </head>


  <body>
    <nav>
<ul>
<link rel="shortcut icon" type="image/ico" href="yugo.ico">
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
<li><a href="/music">Music</a></li>
  <audio controls="controls" autoplay="autoplay">
  <source src="../../../../../audio/Nyan Cat Orchestrate.mp3" type="audio/mpeg" />
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:yugoslaviamrk@gmail.com">Email</a></li>
   <li><a href="https://github.com/yugoslavia36">My GitHub</a></li>
   <li><a href="http://www.infinideas.org/">Infinideas</a></li>
   <li><a href="https://www.luogu.org/space/show?uid=35345">My Luogu Account</a></li>
   </ul>
  </footer>
  </body>

</html>
